@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
--very-dark-blue: hsl(233, 47%, 7%); /*main background*/
--dark-desaturated-blue: hsl(244, 38%, 16%); /*card background*/
--soft-violet: hsl(277, 64%, 61%);  /*accent*/
--white: hsl(0, 0%, 100%);  /*main heading, stats*/
--slightly-transparent-white1: hsla(0, 0%, 100%, 0.75);  /*main paragraph*/
--slightly-transparent-white: hsla(0, 0%, 100%, 0.6);  /*stat headings*/
}


html, body, main {
    max-width: 100vw;
    height: 100vh;
}

body {
 background-color: var(--very-dark-blue);
 display: flex;
 justify-content: center;
 align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    max-width: 1110px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.flex__item {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: left;
    background-color: var(--dark-desaturated-blue);
    max-width: 570px;
    height: auto;
    padding: 35px 100px 30px 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.wrapper__items1 h1 {
    font-size: 2.3125rem;
    color: var(--white);
    margin: 0 auto;
}

.wrapper__items1 h1 span {
    color: var(--soft-violet);
}

.wrapper__items1 p {
    color: var(--slightly-transparent-white1);
    line-height: 28px;
    font-size: 1rem;
}

.wrapper__items2 {
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.wrapper__items2 div {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.wrapper__items2 div h2 {
    font-size: 1.375rem;
    color: var(--white);
    padding-bottom: 8px;
}

.wrapper__items2 div p {
font-size: .8125rem;
color: var(--slightly-transparent-white);
font-weight: 100;
text-transform: uppercase;
}


img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img__mobile {
    display: none;
}



@media (max-width: 1020px) {


    
    .flex__item {
        max-width: 500px;
        height: auto;
        padding: 35px 60px 30px 50px;
        transition: all 1s ease;
    }

    .wrapper__items1 h1 {
        font-size: 2.1875rem;
        color: var(--white);
        margin: 0 auto;
    }

}


@media (max-width: 935px) {


    
    .flex__item {
        max-width: 450px;
        height: auto;
        padding: 35px 50px 30px 36px;
    }

    .wrapper__items1 h1 {
        font-size: 2.125rem;
        color: var(--white);
        margin: 0 auto;
    }

}


@media (max-width: 875px) {

    html, body, main {
        max-width: 100vw;
        height: 110vh;
    }
    
    .flex {
        max-width: 327px;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 0 20px;
    }

    .flex__item {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        padding: 34.64px 35px 34.64px 35px;
    }

    .wrapper__items1 h1 {
        text-align: center;
        font-size: 1.6875rem;
    }

    .wrapper__items2 {
        flex-direction: column;
        width: 100%;

    }
 
    .wrapper__items2 div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 11px 0 11px 0;
    }

    img {
        display: none;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
    }


    .img__mobile {
        display: block;
    }

    .wrapper__items1 p {
        font-size: .9375rem;
        text-align: center;
        line-height: 25px;

    }

}


